@import "tailwindcss";

/* custom property */

:root {
  --font-inter: "Inter", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --main-theme-background: #1a434e;
  --secondary-theme-backgound: #F3F8F9;
  --main-primary-text-color: #1a434e;
  --main-theme-button-hover:#132b32;
  --secondary-text-color: #6E6E6E;
  --max-width: 1280px;
}

body {
  font-size: 16px;
  font-family: var(--font-inter);
  overflow-x: hidden;
  
}
@layer utilities{
.font-epilogue {
  font-family: var(--font-epilogue);
}
.font-poppins{
  font-family: var(--font-poppins);
}
 
}

.bottom-nav svg path {
  fill: #00312b;
}

.animate-carousel {
  animation: carousel 40s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

@keyframes carousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.keen-slider__slide {
  min-width: 0;
}
.faq-answer ol {
  @apply list-disc pl-5 mt-2 space-y-1;
}
.faq-answer li {
  @apply text-[#6E6E6E]  ;
}

.setpOne::before{ 
  position: absolute; 
  top:48%; 
  width: 56%;
  left: 90%;
  height: 2px;
  transform: translate(-45%, -100%);   
  content: ''; 
    background: repeating-linear-gradient(
    to right,
    #1a434e 0px,
    #1a434e 10px,
    transparent 10px,
    transparent 20px
  );
  animation: dashMove 1s linear infinite;
  }

@keyframes dashMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}
.arrow_dash{
   position: absolute;
   top: 40%;
   left: -30%;
   transform: rotate(44deg);
   font-size: 30px;
   color: #1a434e;
}