@import "tailwindcss";

/* custom property */

:root {
  --font-inter: "Inter", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --main-theme-background: #1a434e;
  --secondary-theme-backgound: #F3F8F9;
  --main-primary-text-color: #1a434e;
  --main-theme-button-hover:#132b32;
  --primary-color: #1a434e;
  --light-primary: #286677;
  --light-color: #1f505d;
  --secondary-text-color: #6E6E6E;
  --max-width: 1280px;
}
@theme {
  --color-primary: var(--primary-color);
  --color-primary-text: var(--primary-text-color);  
  --color-secondary-bg: var(--secondary-background);
  --color-secondary-text: var(--secondary-text-color);

  --font-inter: var(--font-inter);
  --font-epilogue: var(--font-epilogue);
}
body {
  font-size: 16px;
  font-family: var(--font-inter);
  overflow-x: hidden;
  
}
@layer utilities{
.font-epilogue {
  font-family: var(--font-epilogue);
}
.font-poppins{
  font-family: var(--font-poppins);
}
 
}

.bottom-nav svg path {
  fill: #00312b;
}

.animate-carousel {
  animation: carousel 40s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

@keyframes carousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.keen-slider__slide {
  min-width: 0;
}
.faq-answer ol {
  @apply list-disc pl-5 mt-2 space-y-1;
}
.faq-answer li {
  @apply text-[#6E6E6E]  ;
}

.setpOne::before{ 
  position: absolute; 
  top:48%; 
  width: 56%;
  left: 90%;
  height: 2px;
  transform: translate(-45%, -100%);   
  content: ''; 
    background: repeating-linear-gradient(
    to right,
    #1a434e 0px,
    #1a434e 10px,
    transparent 10px,
    transparent 20px
  );
  animation: dashMove 1s linear infinite;
  }

@keyframes dashMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}
.arrow_dash{
   position: absolute;
   top: 40%;
   left: -30%;
   transform: rotate(44deg);
   font-size: 30px;
   color: #1a434e;
}

@layer base {
  body {
    @apply bg-zinc-50 text-primary-text font-inter flex flex-col min-h-screen overflow-x-hidden;
  }
}
@layer components {
   nav{
    @apply w-full;
   }
  .menu{
     @apply max-w-[94%] mx-auto px-3 md:px-0 md:py-0 md:my-0 py-4 my-3 bg-black/20 md:bg-transparent rounded flex gap-0 md:gap-4 flex-col md:flex-row md:flex-5 md:justify-end;
  }
  .menu>li>a{
    @apply py-2 block px-3;
  }
  .menu>li>span{
    @apply py-2 px-3 w-full flex justify-between gap-0 md:gap-1 items-center cursor-pointer;
  }
  .menu>li>ul{
    @apply bg-black/15 ;
  }
  .menu>li>ul>li>span{
    @apply py-2 px-3 flex justify-between items-center gap-0;
  }
  .menu>li>ul>li>ul{
    @apply bg-black/10 p-2;
  }
  .menu>li>ul > li > ul > li > a{
    @apply block py-2 px-3 hover:bg-primary;
  }
}